<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}<meta charset="utf-8"/>
    <meta name="google-site-verification" content="Se1BU47QDuaWbURxnshcyzaqRjosEdM0nZjwy_c8OEo" />
    <meta property="og:url" content="{{ current_url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{% if base_path == '/' %}{{ config.site_name }}{% else %}{{ headMeta.title }}{% endif %}" />
    <meta property="og:description" content="{{ headMeta.description }}" />
    <meta property="og:image" content="https://scif.ml/static/images/logo-200.jpg" />
    <meta property="fb:app_id" content="1736500373279641" />
    <title>{{ headMeta.title }} &mdash; {{ config.site_name }}</title>
    <link rel="shortcut icon" href="/static/images/xd.gif" type="image/x-icon">
    <link rel="stylesheet" href="/static/dist/css/app.css" type="text/css" media="screen">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js">
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true,
      skipTags: ["script","noscript","style","textarea","pre","code"]
    }
  });
</script>
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/javascript" src="/static/dist/js/scripts.js"></script>{% endblock %}
</head>
<body class="{{ css_class }}">
<div class="bodyPage">
    <div class="grid">
        <div class="aside col-1-6">
            <div class="container">
                <a href="/" class="logo"></a>
                <div class="subtitle"><p>The marginalized lexicon of obsessive science</p></div>
                <ul class="menu">
                    <li><a href="{{ path_for('page', { slug: 'About' }) }}" title="About">About</a></li>
                    <li><a href="{{ path_for('archives') }}" title="Archives">Archives</a></li>
                    <li><a href="{{ path_for('contact') }}" title="Contact">Contact</a></li>
                </ul>
                <br/>
                <p><em>“Even in the most heinous act of gruesomeness I will be bound to glimpse beauty.<br/>Because beauty is everywhere.”</em></p>
                
            </div>
        </div>
        <div class="col-4-7">
            {% block content %}
            {% endblock %}
            {% block pagination %}
            {% endblock %}
            <footer><p><a href="{{ path_for('page', { slug: 'Me' })}}#copyright">Copyright is for losers</a>.<br />All work is published in the public domain. Enjoy knowledge.</p></footer>
        </div>
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84667467-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
