{% extends "base.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="index-intro">
  <p>Howdy young Internet traveler,<br />
  This is a <a href="{{ path_for('page', { slug : 'Me' }) }}">semi-personal knowledge</a> base I've been building for the last 12 years. I mostly write about obsessive stuff.</p>
  <p>Anyway, you're most welcome.</p>
</div>
<div class="home-articles grid">
  <section id="recent_posts" class="col-2-3">
    <h5>recent posts</h5>
    {% for i in "now"|date("Y")..2010 %}
      {% if data.posts[i] is not empty %}
        <h6>{{ i }}</h6>
        {% for post in data.posts[i] %}
          <ul>
            <li><time>{{ post.created_at|date('Y-m-d') }}</time> <a href="{{ path_for('post', {slug : post.slug}) }}">{{ post.title }}</a></li>
          </ul>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </section>
  <section id="last-topics-updates" class="col-1-3">
    <h5>last updated topics</h5>
    {% for topic in data.topics %}
      <ul>
        <li><time>{{ topic.updated_at|date('Y-m-d') }} at {{ topic.updated_at|date('H:i') }}</time><a href="{{ path_for('page', {slug : topic.slug}) }}">{{ topic.title }}</a></li>
      </ul>
    {% endfor %}
  </section>
</div>
{% endblock %}
{% block pagination %}
{{ pagination }}
{% endblock %}