{% extends "base.twig" %}
{% block content %}
<div class="index-intro">
  {{ data.intro|raw }}
  <div style="clear: both;"></div>
</div>
<div class="ongoing-exp">
    <p><span class="title">Ongoing experiment:</span> <a href="{{ path_for('post', {slug : data.experiment.slug}) }}">{{ data.experiment.title }}</a> (<em><a href="{{ path_for('post', {slug : 'Experiments'}) }}">all</a></em>) | <span class="title">Theorem of the day: (fr)</span> <a href="{{ path_for('post', {slug : data.theorem.slug}) }}">{{ data.theorem.title }}</a> (<em><a href="{{ path_for('post', {slug : 'Théorèmes'}) }}">all</a></em>)</p>
</div>
<div class="legend_marker grid noMobile">
  <div class="col-1-3 legend">
    <span>Legend.</span>
    Level of knowledge required.
  </div>
  <div class="col-2-3 markers squares">
    <span class="one"><i></i> trivial</span>
    <span class="two"><i></i> technical</span>
    <span class="three"><i></i> theoretical</span>
    <span class="four"><i></i> academic</span>
  </div>
</div>
<div class="home-articles grid">
  <section id="recent_posts" class="col-3-4">
    <h5>recent posts</h5>
    {% for i in "now"|date("Y")..2010 %}
      {% if data.posts[i] is not empty %}
        <h6>{{ i }}</h6>
        <ul>
          {% for post in data.posts[i] %}
          <li><time>{{ post.meta.published|date('M d') }}</time> <span class="squares"><span class="{% if post.meta.difficulty is not empty %}{% if post.meta.difficulty == '1' %}one{% elseif post.meta.difficulty == '2' %}two{% elseif post.meta.difficulty == '3' %}three{% elseif post.meta.difficulty == '4' %}four{% endif %}{% endif %}"><i></i></span></span> <a href="{{ path_for('post', {slug : post.meta.slug}) }}">{{ post.meta.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </section>
  <section id="last-topics-updates" class="col-1-4">
    {# <h5>last updated topics</h5>
    {% for topic in data.topics %}
      <ul>
        <li><time>{{ topic.updated_at|date('Y-m-d') }} at {{ topic.updated_at|date('H:i') }}</time><a href="{{ path_for('post', {slug : topic.slug}) }}">{{ topic.title }}</a></li>
      </ul>
    {% endfor %} #}
  </section>
</div>
{% endblock %}
{% block pagination %}
{{ pagination }}
{% endblock %}