{% extends "base.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="index-intro">
  <p>Howdy young Internet traveler,<br />
  This is a <a href="/Me">semi-personal knowledge</a> base I've been building for the last 12 years. I mostly write about obsessive stuff.</p>
  <p>Anyway, you're most welcome.</p>
</div>
<div class="home-articles">
  <h5>recent posts</h5>
  {% for i in "now"|date("Y")..2010 %}
    {% if data.posts[i] is not empty %}
      <h6>{{ i }}</h6>
      {% for post in data.posts[i] %}
        <ul>
          <li><time>{{ post.created_at|date('Y-m-d') }}</time> <a href="{{ path_for('post', {slug : post.slug}) }}">{{ post.title }}</a></li>
        </ul>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
{% block pagination %}
{{ pagination }}
{% endblock %}