{% extends "base.twig" %}
{% block content %}
<div class="post">
    <article id="article_{{ data.page.id }}" data-article-id="{{ data.page.id }}">
        <div class="article-head">
            <h1>{{ data.page.title }}</h1>
            {% if data.page.intro is not empty %}<h5>{{ data.page.intro }}</h5>{% endif %}
            <div class="meta">published: <span>{{ data.page.created_at|date('M j') }}<sup>{{ data.page.created_at|date('S') }}</sup> {{ data.page.created_at|date('Y') }}</span>; last update: <span>{% if data.page.updated_at != data.page.created_at %}{{ data.page.updated_at|date('M j') }}<sup>{{ data.page.updated_at|date('S') }}</sup> {{ data.page.updated_at|date('Y') }}{% else %}never{% endif %}</span>; progress: <span>{{ data.page.progress }}</span>; epistemic state: <span>{{ data.page.epistemic }}</span></div>
        </div>
        <div class="article-body">
            {% if data.page.toc %}<div class="table-of-contents"></div>{% endif %}
            {{ data.page.content | toHTML | raw }}
        </div>
        {% if auth.check %}
        <div class="admin-meta">
            <span><a href="{{ path_for('editor.edit.page', {id :  data.page.id}) }}">Edit</a></span>
        </div>
        {% endif %}
    </article>
</div>
{% endblock %}
