{% extends "base.twig" %}

{% block aside_description %}
{% endblock %}

{% block content %}

<div class="post">
  <article>
    <div class="article-head">
      <h1>{{ data.post.meta.title }}</h1>
      {% if data.post.meta.subtitle is not empty %}<h5>{{ data.post.meta.subtitle }}</h5>{% endif %}
      <div class="meta">
      category: <span><a href="#" onclick="return false;" title="{{ data.post.meta.category }}">{{ data.post.meta.category }}</a> &bull; 
        created <span>{{ data.post.meta.published|date('M j') }}<sup>{{ data.post.meta.published|date('S') }}</sup> {{ data.post.meta.published|date('Y') }}</span>
        {% if data.post.meta.updated != data.post.meta.published %} &bull; update: <span>{{ data.post.meta.updated|date('M j') }}<sup>{{ data.post.meta.updated|date('S') }}</sup> {{ data.post.meta.updated|date('Y') }}</span>{% endif %}<br />progress: <span><a href="#" onclick="return false;">{{ data.post.meta.progress }}</a></span> &bull; epistemic state: <span><a href="#" onclick="return false;" title="See all post with “{{ data.post.meta.epistemic_state }}” status">{{ data.post.meta.epistemic_state }}</a><span class="tooltip"> <span style="cursor:pointer">(?)</span> <div class="tooltip-content"><p class="small">The <em>espitemic status</em> meta-tag matches the way I <strong>personally</strong> feel about what I think. It somehow shows my degree of confidence in the content I write.</a> It also allows me to keep track of my believe and see how often I change my opinion towards a particular subject.</p><p class="small"><a href="./About#Epistemic">learn more &raquo;</a></p></div></span></span> &bull; difficulty: <span class="squares"><span style="margin:0;" class="{% if data.post.meta.difficulty is not empty %}{% if data.post.meta.difficulty == '1' %}one{% elseif data.post.meta.difficulty == '2' %}two{% elseif data.post.meta.difficulty == '3' %}three{% elseif data.post.meta.difficulty == '4' %}four{% endif %}{% endif %}"><i></i></span>{% if data.post.meta.difficulty is not empty %}{% if data.post.meta.difficulty == '1' %}trivial{% elseif data.post.meta.difficulty == '2' %}technical{% elseif data.post.meta.difficulty == '3' %}theoretical{% elseif data.post.meta.difficulty == '4' %}academic{% endif %}{% endif %}</span></div>
      {% if data.post.meta.tags is not empty %}<div class="www_tags"><strong>Tags:</strong> {{ data.post.meta.tags }}</div>{% endif %}
    </div>

    {% if data.post.meta.toc == true %}
    <div class="grid">
      <div class="col-1-5 noMobile">
        <div class="table-of-contents"></div>
      </div>
      <div class="col-4-5 article-body">
          {{ data.post.content | raw }}
          {% if data.post.slug == 'Théorèmes' %}
            {% include 'extras/theorems.twig' %}
          {% endif %}
      </div>
    </div>
    {% else %}
    <div class="article-body">
        {{ data.post.content | raw }}
        {% if data.post.slug == 'Théorèmes' %}
          {% include 'extras/theorems.twig' %}
        {% endif %}
    </div>
    {% endif %}
      {#
      <div class="comments" id="comments">
          {% if data.comments %}
          <h5>Comments &mdash; {% if data.post.extras.comment_counter_start is not empty %}{{ data.post.extras.comment_counter_start + data.comment_count }}{% else %}{{ data.comment_count }}{% endif %} so far.</h5>
          {% for data_comment in data.comments %}
          <div class="comment" id="comment-{{ data_comment.id }}" data-comment-id="{{ data_comment.id }}">
            {{ data_comment.content|raw }}
            <div class="meta">
              <p><a href="#comment-{{ data_comment.id }}" title="Direct link to this comment">by {{ data_comment.author }} on {{ data_comment.date|date('m/j/Y') }}</a></p>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <h5>No comment.</h5>
          <div class="comment">
            <p><a href="#" onclick="javascript(return false)">Be the first to comment.</a></p>
          </div>
          {% endif %}
      </div>
      #}
  </article>
</div>
{% endblock %}
