{% extends "base.twig" %}

{% block aside_description %}
{% endblock %}

{% block content %}

<div class="post">
  <article>
    <div class="article-head">
        <h1>{{ data.post.title }}</h1>
        {% if data.post.intro is not empty %}<h5>{{ data.post.intro }}</h5>{% endif %}
        <div class="meta">published: <span>{{ data.post.created_at|date('M j') }}<sup>{{ data.post.created_at|date('S') }}</sup> {{ data.post.created_at|date('Y') }}</span>; in <a href="/Archives?category={{ data.category.slug }}"><span>{{ data.category.name }}</span></a>; last update: <span>{% if data.post.updated_at != data.post.created_at %}{{ data.post.updated_at|date('M j') }}<sup>{{ data.post.updated_at|date('S') }}</sup> {{ data.post.updated_at|date('Y') }}{% else %}never{% endif %}</span>; progress: <span>{{ data.post.progress }}</span>; epistemic state: <span>{{ data.post.epistemic }}</span></div>
    </div>
      {% if data.post.type == 'correlation' %}
      <div class="subc">
        <p>{{ data.post_type.description }} More <a href="{{ path_for('page', { slug : data.post_type.slug }) }}">here</a>.</p>
        <p><strong>Correlating:</strong> {{ data.post.extras.correlation.question }} <strong>Result:</strong> {{ data.post.extras.correlation.result }}</p>
      </div>
      {% endif %}
      <div class="article-body">
          {% if data.post.toc %}<div class="table-of-contents"></div>{% endif %}
          {{ data.post.content | toHTML | raw }}
      </div>
      {% if auth.check %}
      <div class="admin-meta">
        <span><a href="{{ path_for('editor.edit.post', {id :  data.post.id}) }}">Edit</a></span>
      </div>
      {% endif %}
      <div class="comments" id="comments">
          {% if data.comments %}
          <h5>Comments &mdash; {% if data.post.extras.comment_counter_start is not empty %}{{ data.post.extras.comment_counter_start + data.comment_count }}{% else %}{{ data.comment_count }}{% endif %} so far.</h5>
          {% for data_comment in data.comments %}
          <div class="comment" id="comment-{{ data_comment.id }}" data-comment-id="{{ data_comment.id }}">
            {{ data_comment.content|raw }}
            <div class="meta">
              <p><a href="#comment-{{ data_comment.id }}" title="Direct link to this comment">by {{ data_comment.author }} on {{ data_comment.date|date('m/j/Y') }}</a></p>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <h5>No comment.</h5>
          <div class="comment">
            <p><a href="#" onclick="javascript(return false)">Be the first to comment.</a></p>
          </div>
          {% endif %}
      </div>
  </article>
</div>
{% endblock %}
